:root {
    --dark_bg: #1F2937;
    --hero-main-text: #F9FAF8; /* 48px, weight: 900 */
    --hero-secondary-text: #F9FAF8; /* 18px */
    --header-logo-text: #F9FAF8; /* 24px */
    --button-color: #3882F6;
    --information-header-text: #1F2937; /* 36px weight: 900 */
    --quote-bg: #E5E7EB;
    --quote-text: #1F2937; /* light italic 36px */
}

body {
    font-family: "Roboto";
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--dark_bg);
    display: flex;
    align-items: center;
}

header .logo {
    color: var(--header-logo-text);
    font-size: 24px;
    margin: 0;
    margin-left: 0;
    margin-right: auto;
}

nav {
    float:right;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--header-logo-text);
    text-decoration: none;
}

nav a:hover {
    color: var(--button-color);
    text-decoration: underline;
}